VITE_FIREBASE_API_KEY=AIzaSyByOxuteEKwId8W85KLLn_gStv5ObV2zWM
VITE_FIREBASE_AUTH_DOMAIN=isterikaai.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://isterikaai-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=isterikaai
VITE_FIREBASE_STORAGE_BUCKET=isterikaai.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=285709727430
VITE_FIREBASE_APP_ID=1:285709727430:web:05542c9dbc2470d4b309c7
VITE_FIREBASE_MEASUREMENT_ID=G-9L6R6RMX2G
